body {
    height: 100%;

    margin: 0px;
    background-color: #e0e0e0;
}
header {
    background-color: rosybrown;
}

footer {
    background-color: rosybrown;
}
#maincontainer{
    
    height: 100%;
}
header img{
    width: 60px;
    height: 60px;
}
#hotel img{
    height: 500px;
    width: 500px;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}
#dets{
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 1%;

}
#desc{
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 1%;
    margin-bottom: 2%;
}
#social img{
    height: 20px;
    width: 22px;
}