#search {
    height: 380px;
    background: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    
 }
 #inputform{
    border: none;
    outline: none;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    width: 25%;
    
 }

 .view{
    
    margin-bottom: 100px;
    text-align: center;
    
 }
 .more-cities{
    display: none;
 }
#content{
    display: flex;
    flex-direction: column;
}

.cities{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 4% 0;
   
    
}
.cities img {
    height: 150px;
    width: 150px;
    border-radius: 25%;
}
.more-cities{
    display: none;
}

.card-container {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 25%;
    box-shadow: 10px 10px 10px grey;
}
.card-container:hover .overlay{
    position: absolute;
    background-color:rgba(0, 0, 0,0.5);
    height: 100%;
    width: 100%;
    border-radius: 25%;
    top: 0;
    left: 0;
    
    
}
.card-container:hover .text {
    z-index: 1;
}
.text{
    color: #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
 } 

