.hotel{
    
    width: 40%;
    
    display: flex;
    margin: 3%;
    background-color:lightgrey;
    flex-basis: 40%;
    
}
.hotel:hover{
    background-color: rosybrown;
}
#list img {
    height: 200px;
    width: 250px;
}
.view{
   
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1%;
}
.view li{
    list-style: none;
    font-weight: bold;
    /* float: right; */
    margin: 0 25px;
}

#list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 6%;
}
.description{
    margin: 4%;
}
.checked {
    color: orange;
  }