body {
    height: 100%;

    margin: 0px;
    background-color: #e0e0e0;
}
header {
    background-color: rosybrown;
}

footer {
    background-color: rosybrown;
}
#hotel1{
    background-color: rgb(132, 136, 139);
    width: 40%;
    margin: 2%;
}
#hotel2{
    background-color: rgb(132, 136, 139);
    width: 40%;
    margin: 2%;
}
#hotel3{
    background-color: rgb(132, 136, 139);
    width: 40%;
    margin: 2%;
}

#maincontainer {
    width: 100%;
    height: 100%;
}

header img {
    width: 60px;
    height: 60px;
}

#social img {
    height: 20px;
    width: 22px;
}

#list img {
    height: 200px;
    width: 250px;
}